<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer {
            background-color: gainsboro;
            padding: 8px 0px;
            text-align: center;
        }

        .footer ul {
            list-style: none;
        }

        .footer ul li {
            display: inline-block;
            margin: 0px 20px;
        }
    </style>

</head>

<body>
    <div class="footer">
        <ul>
            <li>Accessibility</li>
            <li>Copyright and trademark</li>
            <li>Privacy</li>
            <li>Terms of use</li>
            <li>Emergency</li>
            <li>Jobs</li>
        </ul>
    </div>
</body>

</html>