<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    {{>Navbar}}
    <div class="bgimage">
        <div class="overlay">
            <h1 class="overlay-1">CLEAN AND FLEXIBLE TEMPLATE</h1>
            <p class="overlay-1">Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                risus tristique posuere.
                <br>
                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <div class="btn-1">
                <button type="button" class="btn btn-primary"><b> DOWNLOAD NOW</b></button>
                <button type="button" class="btn btn-outline-primary"><b>VIEW FEATURES</b> </button>
            </div>
        </div>
    </div>


    <div class="about-page">
        <h1 id="header">ABOUT US</h1>
        <p><i>Setibulum rutrum quam vitae fringilla tincidunt</i></p>
        <br>
    </div>
    <br><br>

    <div class="content">
        <p>Lorem ipsum dolor sitamet, consectetur adipisicing elit, seddo eiusmod tempor <br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisus <br>
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis <br>
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <br>
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <br>
            deserunt mollit anim id est <br>
            <br><br>
            Excepteur sint occaecat cupidatat none proident, sunt in culpa qui officia deserunt <br>
            mollit anim id est laborum voluptate dolor.
        </p>
        <img src="../Images/about.jpg" alt="">
    </div>
</body>

</html>